################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/Aufgabe 1 Praktikum.pdf
/K1 Normen.pdf
/K3 Fehler.pdf
/K4 Kenngrößen.pdf
/Lösungen K4.bmp